.card {
  border: 1px solid white;
  border-radius: 15px;
  background-color: lightgray;
  cursor: pointer;
  transition: transform 0.5s;

  &:hover {
    z-index: 2;
    transform: scale(1.05);
    box-shadow: 0 0 0 3px green;
  }
}

.empty, .card {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}